<%- include('head') -%>

  <div>
    <h1 class="errorCode">Status Code <%= statusCode %>
    </h1>
    <h3 class="errorMessage">
      <%= errorMessage %>
    </h3>
    <a href="/" class="errorMainPage">Back to Main Page</a>
  </div>
