<div class="flashDiv">
  <p class="flashMessage" id="flashMessage"><%= flashMessage %></p>
</div>

<script>
  const flashMessage = "<%= flashMessage %>"
</script>
<script type="module" src="/views/js/flashMessage.js"></script>
