<!DOCTYPE html>
<head>
  <title>Wice WebServer</title>
  <link rel="icon" href="/views/img/wice.png">
  <link rel="stylesheet" type="text/css" href="/views/css/header.css">
  <link rel="stylesheet" type="text/css" href="/views/css/home.css">
  <link rel="stylesheet" type="text/css" href="/views/css/projects.css">
  <link rel="stylesheet" type="text/css" href="/views/css/project.css">
  <link rel="stylesheet" type="text/css" href="/views/css/flashMessage.css">
  <link rel="stylesheet" type="text/css" href="/views/css/error.css">
</head>