<%- include('header') -%>

  <h1 class='homeh1'>The Home Page</h1>
  <%- include('flashMessage') -%>
  <div>
    <p>This is the HOME PAGE</p>
  </div>

  <script type="module" src="/views/js/websocket.js"></script>
