# Stuff Lending Test Report
Document the results of your final system test below. You find instructions on the course homepage.

Version #f0b803b4

Date: 2022.10.08

Environment: Windows, Java version 18. Performed by: Wictor Rindebrant, Jonatan Steger, Simon Cahling

| Case  | Result | Note |
| ----- | ------ | ---- |
| 5.1   | ok     |      |
| 1.1   | ok     |      |
| 1.2   | ok     |      |
| 1.3   | ok     |      |
| 2.1   | ok     |      |
| 2.2   | ok     |      |
| 2.3   | ok     |      |
| 3.1   | ok     |      |
| 3.2   | ok     |      |
| 3.3   | ok     |      |
| 3.4   | ok     |      |
| 3.5   | ok     |      |
| 4.1   | ok     |      |