.flashMessageRed {
  background-color: red;
  padding: 10px;
  margin-left: 35%;
  margin-right: 35%;
}

.flashMessageGreen {
  background-color: rgb(11, 189, 35);
  padding: 10px;
  margin-left: 35%;
  margin-right: 35%;
}