.header {
  text-align: center;
  background-color: gray;
}

.header .nav {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  color: black
}

.header .nav a {
  margin-left: 25px;
  margin-right: 25px;
}