.loginh1 {
  color: gray
}

#usernamediv {
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

#usernamelabel {
  color: lightgray;
  height: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

#usernameinput {
  height: 30px;
  font-size: 20px;
  margin-left: 40%;
  margin-right: 40%;
}

#passworddiv {
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

#passwordlabel {
  color: lightgray;
  height: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

#passwordinput {
  height: 30px;
  font-size: 20px;
  margin-left: 40%;
  margin-right: 40%;
}

#loginbutton {
  margin-top: 10px;
  width: 100px;
  height: 32px;
  font-size: 20px;
}