.newsnippeth1 {
  color: gray
}

.titlenewsnippetdiv {
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.titlelabel {
  color: lightgray;
  height: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.titleinput {
  height: 30px;
  font-size: 20px;
  margin-left: 35%;
  margin-right: 35%;
}

.codenewsnippetdiv {

  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.codelabel {
  color: lightgray;
  height: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.codeinput {
  border: 2px solid gray;
  background-color: black;
  color: white;
  height: 400px;
  font-size: 14px;
  margin-left: 25%;
  margin-right: 25%;
  overflow: scroll;
  padding: 5px;
}

.newsnippetbutton {
  background-color: gray;
}