.snippet {
  border: 2px solid gray;
  margin-left: 15%;
  margin-bottom: 30px;
  width: 70%;
}

.snippetheader {
  background-color: gray;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
}

.snippetheader #authorname {
  width: 20%;
  margin: 1%;
  text-align: left;
  padding-top: 0px;
}

.snippetheader #snippetname {
  width: 60%;
  margin: 1%;
  padding-top: 5px;
}

.toggleEditMode {
  height: 25px;
  width: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

.deletesnippetbutton {
  margin-top: 5px;
  margin-right: 5px;
  height: 25px;
  width: 50px;
}

.snippet textarea {
  color: white;
  background-color: black;
  text-align: left;
  width: 100%;
  height: 200px;
  resize: none;
}