body {
  text-align: center;
  align-items: center;
  position: flex;
  background-color: black
}

.snippetsh1 {
  color: gray
}

.newsnippetbutton {
  width: 200px;
  height: 30px;
  margin-bottom: 22px;
  font-size: 17px;
  color: blue;
  background-color: gray;
}