#toolbar {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 7%;
    bottom: 0;
    background-color: rgb(61, 61, 61);
    overflow: hidden;
}

.applicationButton {
    margin-top: 0.4%;
    margin-left: 0.5%;
    padding: 1.1%;
}

#memoryBtn {
    background-image: url(../img/toolbar/memory.png);
    background-size: cover;
}

#chatBtn {
    background-image: url(../img/toolbar/chat.png);
    background-size: cover;
}

#calculatorBtn {
    background-image: url(../img/toolbar/calculator.png);
    background-size: cover;
}