<% if (flashMessage) { %>
  <% if (flashMessageStatus.includes('red')) { %>
    <p class="flashMessageRed">
      <%= flashMessage %>
    </p>
    <% } else if (flashMessageStatus.includes('green')) { %>
      <p class="flashMessageGreen">
        <%= flashMessage %>
      </p>
      <% } %>
        <% } %>