<head>
  <title>Wice Application</title>
  <link rel="stylesheet" type="text/css" href="/views/css/header.css">
  <link rel="stylesheet" type="text/css" href="/views/css/snippet.css">
  <link rel="stylesheet" type="text/css" href="/views/css/snippets.css">
  <link rel="stylesheet" type="text/css" href="/views/css/login.css">
  <link rel="stylesheet" type="text/css" href="/views/css/register.css">
  <link rel="stylesheet" type="text/css" href="/views/css/newsnippet.css">
  <link rel="stylesheet" type="text/css" href="/views/css/flashMessage.css">
  <link rel="stylesheet" type="text/css" href="/views/css/error.css">
</head>